* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-nav {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #030303;
}

.nav-logo img {
    width: 100px;
}