/* ===== Newsletter section ===== */

.newsletter {
    max-width: 1400px;
    width: 95%;
    border-radius: 5px;
    color: var(--text-white);
    background: var(--primary-purple);
    padding: 70px 20px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.newsletter span i{
    font-size: 6rem;
}

.newsletter h1 {
    font-size: 2.2rem;
    text-align: center;
}


.registration-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registration-form p {
    font-size: 1.05rem;
}

.email-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.email-row input {
    flex: 1;
    max-width: 400px;
    padding: 12px;
    font-size: 1rem;
    font-weight: lighter;
    outline: none; 
    border: none;
}

.register-btn {
    padding: 12px 20px;
    color: var(--text-white);
    background: var(--newsletter-dark-color);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.checkbox-wrapper {
    text-align: left;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.checkbox-wrapper .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid var(--text-white);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background: transparent;
}

.checkbox-wrapper input:checked + .checkmark {
    background: var(--newsletter-dark-color);
    border-color: var(--newsletter-dark-color);
}

.checkbox-wrapper input:checked + .checkmark::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-white);
    font-size: 14px;
}